.title-hangman{
    color: red;
    font-size: 3rem;
}

.h-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    min-height: 100vh;
    background-color: black;
    color: white;   
}
.h-input{
    border-radius: 10px;
    height: 2rem;
    text-align: center;
}
.h-button{
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: red;
    color: #fff;
    cursor: pointer;
}

