// body {
//     font-family: 'Arial', sans-serif;
//     background-color: #f0f0f5;
//     color: #333;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     margin: 0;
// }

// .container {
//     text-align: center;
//     background: #fff;
//     border-radius: 10px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     padding: 20px;
//     max-width: 400px;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.tic-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 10px;
    margin-bottom: 2rem;
    background-color: #333;
    border-radius: 5px;
}

.cell {
    width: 80px;
    height: 80px;
    background-color:red;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #333;
}

.message {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.tic-btn {
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: red;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

.tic-btn:hover {
    background: darkred;
}
